[% USE KohaDates %]
[% PROCESS 'ill-request-log.inc' %]
[% WRAPPER ill_request_log action_label = 'ReprintsDesk request failed ' %]
received response &quot;[% log.info.response.replace('\n', ', ') | html %]&quot;
[% END %]